body {
  background: #202028;
  color: #fff;
  font-family: sans-serif;
  font-size: 1em;
  text-align: center;
  background-image: url("https://raw.githubusercontent.com/mastrmind77/mastrmind77.github.io/master/background.jpg");
  background-size: cover;
}

button#newGameBtn:focus {
  /* pointer-events: none; */
  /* display: block; */
   outline: none;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: flex-start;
}

#tetris {
  border: solid .2em #fff;
height: 70vh;
}


#leftside {
  width: 40px;
  background: gray;
  display: none;
  height: 70vh;
}

#touchy {
  border: solid .2em #fff;
  height: 70vh;
}

#rightside {
  width: 60px;
  background: black;
  border: solid .2em #fff;
  height: 70vh;
  font-variant: small-caps;
}

.title {
  background: gray;
  color: black;
  font-size: .8em;
}

/* Tetris Title */
h1 {
   font-family: "Audiowide", sans-serif;
    font-variant: small-caps;
    font-size: 3.5em;
    color: black;

}

/*Pause Screen pop up */
#pause {
  position: absolute;
  width: 300px;
  height: 370px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: red;
   display: none;
}

#newgame {
  display: block;
}

#gameOver {
  display: none;
}

/*Pause Screen pop up */
.popup {
  position: absolute;
  width: 300px;
  height: 370px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: red;
  /* display: none; */
}

#score {
  font-size: 1em;
}


.grid-container {
  display: grid;
  grid:  auto / 50px auto;
  grid-gap: 5px;
  padding: 10px;
  width: 150px;
  font-variant: small-caps;
  font-size: 0.8em;
  justify-content: space-evenly;
  padding-left:70px;
}



.item1, .item3, .item5, .item7, .item9, .item11, .item13, .item15 {
	text-align: center;
}
.item2, .item4, .item6, .item8, .item10, .item12, .item14 , .item16 {
	text-align: left!important;
}

.item1, .item2, .item3, .item4 {
	font-weight: bold;
    font-size: 1.2em;
}

 .item3, .item4 {
    margin-bottom: 10px;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border: solid .05em white;
}

/* .modal-content {
    background: $darkBlue;
} */
